<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>asdfasdfasfasdf asdf  dsf add  f sa sa fsaa rr taergafasfargargstaergas  hg te ef g rg e r gr ge rwd few gfawtad va rg ar a</p>
        <p>asdfasdfasfasdf asdf  dsf add  f sa sa fsaa rr taergafasfargargstaergas  hg te ef g rg e r gr ge rwd few gfawtad va rg ar a</p>
        <p>asdfasdfasfasdf asdf  dsf add  f sa sa fsaa rr taergafasfargargstaergas  hg te ef g rg e r gr ge rwd few gfawtad va rg ar a</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>